{
    "printWidth": 140,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "singleQuote": false,
                "printWidth": 90,
                "singleAttributePerLine": false,
                "scss": {
                    "singleLinePerSelector": false
                }
            }
        }
    ]
}
