@use "@/styles/tokens" as *;

$padding-horizontal: $spacing-3-5;

// variant mixins
@mixin variant-white {
  color: $color-bg-100 !important;
  border-color: $color-bg-100 !important;
  background: $color-text-base !important;
}
@mixin variant-background {
  color: $color-text-base !important;
  border-color: $color-text-base !important;
  background: $color-bg-100 !important;
}

.button {
  // Reset default buttons
  border: none;
  appearance: none;
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: $spacing-1-5;

  padding: $spacing-2 $padding-horizontal;
  border: $border-width-base solid transparent;
  border-radius: $border-radius-base;

  transition: all $animation-transition-base;

  font-size: $typography-fontSize-sm;
  font-family: $typography-fontFamily-main;
  line-height: 1.1;

  cursor: pointer;

  &:hover {
    @include variant-background;
  }
}

.button.variant-primary {
  border: none;
  background: $gradient-primary;
  color: $color-bg-base;

  &::before {
    content: "";
    position: absolute;
    inset: calc($border-width-base * -1);
    background: $gradient-primary-inverted;
    border-radius: $border-radius-base;
    z-index: -1;
  }

  &:hover {
    background: rgba($color-bg-100, 0.8) !important;
  }
}

.button.variant-white {
  @include variant-white;

  &:hover {
    @include variant-background;
  }
}

.button.variant-background {
  @include variant-background;

  &:hover {
    @include variant-white;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: inline-flex;
  align-items: center;
}

.iconPosition-left {
  padding-left: calc($padding-horizontal - $spacing-0-75);
}

.iconPosition-right {
  padding-right: calc($padding-horizontal - $spacing-0-75);
}
