@import "./page.scss";

.footer {
    background-color: #f3f4f6;
    padding: 2rem 0 5rem;
    transition: background-color 0.3s ease;

    .dark & {
        background-color: #1f2937;
    }

    .container {
        max-width: 80rem;
        margin: 0 auto;
        padding: 0 1rem;

        @media (min-width: $tablet) {
            padding: 0 1.5rem;
        }

        @media (min-width: $desktop) {
            padding: 0 2rem;
        }
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

        @media (min-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: $desktop) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .footer-column {
        h3 {
            color: $secondary-color;
            font-size: 1.125rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }

        a {
            color: #9ca3af;
            font-size: 1.125rem;
            font-weight: 400;
            transition: color 0.3s ease;

            &:hover {
                color: #4b5563;
            }

            .dark & {
                color: #d1d5db;

                &:hover {
                    color: #f3f4f6;
                }
            }
        }
    }

    .logo-copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        @media (min-width: $tablet) {
            flex-direction: row;
        }

        .copyright {
            color: #9ca3af;
            font-size: 1rem;

            .dark & {
                color: #d1d5db;
            }
        }

        .logo {
            width: 60px;
            height: 60px;
        }
    }
}
